@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

.bg-primary {
  background-color: #00659B;
}

.text-primary {
  color: #00659B;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@variant dark (&:where(.dark, .dark *));